.title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.profile img {
  width: 20%;
}

.profile h1 {
  display: inline;
  font-size: 2rem;
}

.profile h2 {
  display: inline;
  font-size: 1.5rem;
  color: gray;
}

.job {
  margin-top: 10px;
  font-size: 1.2rem;
}

.introduce {
  margin-top: 20px;
}

.introduce p {
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact i {
  font-size: 1.5rem;
  width: 2rem;
}

.contact b{
  font-size: 1.2em;
}
