.title {
  margin: 30px;
  font-size: 3rem;
}

.profile {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
}

.me {
  width: 20%;
  padding-right: 20px;
}

.me img {
  width: 100%;
  height: auto;
}

.profile h1 {
  display: inline;
  font-size: 2rem;
}

.profile h2 {
  display: inline;
  font-size: 1.5rem;
  color: gray;
}

.job {
  margin-top: 10px;
  font-size: 1.2rem;
}

.introduce {
  margin-top: 20px;
}

.introduce p {
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.contact span {
  margin-bottom: 20px;
}

.contact i {
  font-size: 1.5rem;
  width: 2rem;
}

.contact b {
  font-size: 1.2em;
}

.skills {
  padding: 0 20px;
  display: flex;
}

.skills h2 {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.skill-box {
  flex-basis: 33.33%;
}

.skill-box.center {
  margin: 0 30px;
  padding: 0 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.skill {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.skill img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #a5a5a5;
}

@media (max-width: 1400px) {
  .me {
    display: none;
  }
}

@media (max-width: 480px) {
  .profile {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .contact {
    margin-top: 20px;
    margin-left: 30px;
  }

  .skills {
    flex-direction: column;
    padding: 0;
  }

  .skill-box.center {
    margin: 20px 0;
    padding: 20px 0;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
