* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
  background: #eeeeee;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  background-color: black;
}

.navigation ul {
  display: flex;
  margin-right: 10px;
}

.navigation ul li {
  margin: 10px;
}

.navigation a {
  padding: 8px;
  border-radius: 50px;
  color: white;
  transition: all 0.5s;
}

.navigation a:hover {
  color: black;
  background: white;
}

.nav-spacer {
  height: 50px;
}

.main {
  margin: auto;
  padding: 20px 50px;
  width: 70vw;
  background: white;
  box-shadow: 0 0 1000px 50px white;
}

sub {
  position: relative;
  margin-left: 3px;
  bottom: -0.3em;
  font-size: 0.7em;
}

@media (max-width: 1100px) {
  .main {
    padding: 20px;
    width: 85vw;
  }
}

@media (max-width: 480px) {
  .navigation {
    justify-content: center;
  }
}
