/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
  * {
    font-size: 10px;
  }

  .linker-container {
    width: 255px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: black;
}

.spacer {
  height: 10%;
}

.title {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: white;
}

.title div h1 {
  text-align: center;
  font-size: 4rem;
}

.title div div {
  text-align: right;
  font-size: 1.5rem;
}

.linker-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 2rem 0;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.9);
}

.linker {
  margin: 3rem auto;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
}

.linker:hover {
  background: black;
  color: white;
}
