* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: black;
}

.spacer {
  height: 15%;
}

.title {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  color: white;
}

.title div {
  margin: auto;
}

.title div h1 {
  text-align: center;
  font-size: 4rem;
}

.title div div {
  text-align: right;
  font-size: 1.5rem;
}

.navigator {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  padding: 2rem 0;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.9);
}

.linker {
  margin: 3rem auto;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
}

.linker:hover {
  background: black;
  color: white;
}
