* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: black;
}

.spacer {
  height: 15%;
}

.title {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  color: white;
}

.title div {
  margin: auto;
}

.title div h1 {
  text-align: center;
  font-size: 4rem;
}

.title div div {
  text-align: right;
  font-size: 1.5rem;
}

.main-navigator {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.main-navigator ul {
  padding: 2rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.9);
}

.main-navigator li {
  margin: 3rem;
  list-style: none;
  text-align: center;
}

.main-navigator li a {
  font-size: 3rem;
}
