* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: black;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  height: 35%;
  color: white;
}

.main-header div {
  margin: auto;
}

.main-header div h1 {
  text-align: center;
  font-size: 5rem;
}

.main-header div div {
  text-align: right;
  font-size: 2rem;
}

.main-navigator {
  height: 75%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.main-navigator ul {
  padding: 4rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.9);
}

.main-navigator li {
  margin: 2rem;
  list-style: none;
  text-align: center;
}

.main-navigator li a {
  font-size: 3rem;
}
