.link-container {
  float: right;
  margin-top: 10px;
}

.link-container a {
  font-size: 1.5rem;
}

.link-container i {
  font-size: 2rem;
}

.title span {
  margin-left: 20px;
  font-size: 0.5em;
  color: gray;
}

.project-describe {
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.project-describe b {
  font-size: 1.4rem;
}

.project-info {
  display: flex;
  justify-content: space-between;
}

.img-container {
  height: 50vh;
  width: fit-content;
}

.img-container img {
  width: auto;
  height: 100%;
}

.project-detail {
  flex-basis: 55%;
}

.project-detail h2 {
  margin: 15px 0;
  font-size: 1.8rem;
}

.project-contribute {
  margin-bottom: 20px;
}

.project-contribute li {
  margin: 10px 20px;
  list-style: circle;
}

.project-contribute li li {
  margin-left: 20px;
}

.project-stack li {
  margin: 10px 0;
}

@media (max-width: 480px) {
  .link-container {
    float: none;
  }

  .title span {
    display: block;
    margin: 0;
  }

  .project-describe {
    font-size: 1.2rem;
  }

  .project-describe b {
    display: block;
  }

  .project-info {
    flex-direction: column;
    align-items: center;
  }

  .project-contribute li {
    margin-right: 0;
  }

  .project-contribute li li {
    margin-right: 0;
  }

  .project-stack b {
    display: block;
  }
}
